h1{
     color: #FFD700;
     margin-left: 3%;
}

.wlmovies{
     display: flex;
     flex-direction: row;
     gap: 25px;
     flex-wrap: wrap;
     justify-content: start;
     align-items: center;
     margin-left: 5%;
}


.ott{
     background-color: rgb(193,39,45,0.6);
     color: #FFD700;
     font-size: 18px;
     width: 400px;
     height: fit-content;
     padding: 15px;
}


.notify{
     display: flex;
     flex-direction: column;
     justify-content: center;
     position: absolute;
     top: 0px;
     left: 70%;
}

#clear{
     width: 400px;
     height: 50px;
     font-size: 30px;
     color: #FFD700;
     background-color: #2E2E2E;
}